$dark-blue: #0d1321;
$light-blue: #3e5c76;
$snow-white: #f0ebd8;

.friendPanel {
  background-color: $light-blue;
  cursor: pointer;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 2fr;

  svg {
    cursor: pointer;
  }
  svg:hover {
    fill: $dark-blue;
  }
  img {
    position: relative;
    object-fit: cover;
  }
}
@media screen and (min-width: 1024px) {
  .friendPanel {
    border-radius: 25px;
    width: 100%;
    width: 90%;
    left: 5%;
    height: 14vh;

    img {
      width: 10vh;
    }
  }
}
@media screen and (max-width: 1023px) {
  .friendPanel {
    height: auto;
    background-color: $light-blue;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 2fr;

    .imgDiv {
      height: 100%;
      position: relative;

      img {
        object-fit: contain;
        height: 100%;
        width: 40%;
      }
    }
  }
}
