@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,600&family=Roboto:ital@1&family=Young+Serif&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #0d1321;
  color: #f0ebd8;
  font-family: lato;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d1321;
}

::-webkit-scrollbar-thumb {
  background: #f0ebd8;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e5c76;
}

.profileDivHidden {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  float: right;
}
.profileDivHidden a {
  background-color: #f0ebd8;
  text-align: center;
  text-decoration: none;
}
.profileDivHidden a h1 {
  color: #0d1321;
}

.profileDiv {
  display: grid;
  background-color: #1b2846;
  position: relative;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img info" "actions info";
  border-radius: 45px;
}
.profileDiv .image {
  grid-area: img;
}
.profileDiv .image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px 0 0;
}
.profileDiv .actions {
  grid-area: actions;
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileDiv .info {
  grid-area: info;
  border-radius: 0 50px 50px 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.exitButton {
  position: absolute;
  border: none;
  cursor: pointer;
}
.exitButton svg {
  fill: #f0ebd8;
}

@media screen and (min-width: 1024px) {
  .profileDivHidden {
    height: 8vh;
    width: 20%;
  }
  .profileDivHidden a {
    margin-top: 1rem;
    border-radius: 65px;
    width: 100%;
  }
  .profileDivHidden a h1 {
    height: 80%;
    line-height: 6.4vh;
  }
  .profileDiv {
    left: 15vw;
    top: 5vh;
    width: 70vw;
    height: 90vh;
  }
  .profileDiv .image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .profileDiv .image img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .profileDiv .actions {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .profileDiv .info {
    gap: 1rem;
  }
  .exitButton {
    height: 48px;
    width: 48px;
    top: calc(0% + 32px);
    left: calc(90% - 32px);
  }
}
@media screen and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
  .profileDiv {
    display: flex;
    flex-direction: column;
  }
  .profileDiv .image {
    height: 40vh;
    width: 100vw;
    grid-area: img;
  }
  .profileDiv .image img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .profileDiv .actions {
    height: 40vh;
    gap: 0.5rem;
    border-radius: 0;
  }
  .profileDiv .actions h1 {
    text-transform: uppercase;
  }
  .profileDiv .info {
    grid-area: info;
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    gap: 1rem;
  }
}/*# sourceMappingURL=App.css.map */