@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,600&family=Roboto:ital@1&family=Young+Serif&display=swap");
$dark-blue: #0d1321;
$light-blue: #3e5c76;
$snow-white: #f0ebd8;

body {
  margin: 0;
  padding: 0;

  color: $snow-white;
  font-family: lato;
  overflow-y: auto;
  overflow-x: hidden;
}
//SCROLLBAR STYLES
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $dark-blue;
}
::-webkit-scrollbar-thumb {
  background: $snow-white;
}
::-webkit-scrollbar-thumb:hover {
  background: $light-blue;
}

@media screen and (min-width: 1024px) {
  .profileDiv {
    display: grid;
    background-color: lighten($dark-blue, $amount: 10);
    position: relative;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img info" "actions info";
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    .image {
      grid-area: img;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        width: clamp(5rem, 80%, 30rem);
        height: clamp(5rem, 80%, 30rem);
      }
      h2 {
        text-transform: uppercase;
        padding-top: 1.5rem;
        margin: 0;
      }
    }
    .actions {
      grid-area: actions;
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    .info {
      grid-area: info;

      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      gap: 0.5rem;
    }
  }
}
@media screen and (max-width: 1023px) {
  .profileDiv {
    display: flex;
    background-color: lighten($dark-blue, $amount: 10);
    flex-direction: column;

    width: 100vw;
    height: auto;
    overflow-x: hidden;
    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        width: clamp(5rem, 80%, 20rem);
        height: clamp(5rem, 80%, 20rem);
      }
      h2 {
        text-transform: uppercase;
        font-size: 2rem;
        padding-top: 0.5rem;
      }
    }
    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-items: center;
      height: auto;
      overflow-x: hidden;
    }
    .info {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      gap: 0.5rem;
    }
  }
}
