@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,600&family=Roboto:ital@1&family=Young+Serif&display=swap");
$dark-blue: #0d1321;
$light-blue: #3e5c76;
$snow-white: #f0ebd8;

body {
  margin: 0;
  padding: 0;
  background-color: $dark-blue;
  color: $snow-white;
  font-family: lato;
  overflow-y: auto;
}
//SCROLLBAR STYLES
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $dark-blue;
}
::-webkit-scrollbar-thumb {
  background: $snow-white;
}
::-webkit-scrollbar-thumb:hover {
  background: $light-blue;
}

.profileDivHidden {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  float: right;
  a {
    background-color: $snow-white;
    text-align: center;
    text-decoration: none;
    h1 {
      color: $dark-blue;
    }
  }
}
.profileDiv {
  display: grid;
  background-color: lighten($dark-blue, $amount: 10);
  position: relative;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img info" "actions info";
  border-radius: 45px;

  .image {
    grid-area: img;
    img {
      object-fit: cover;
      border-radius: 50px 0 0;
    }
  }
  .actions {
    grid-area: actions;
    border-radius: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    grid-area: info;
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1024px) {
  .profileDivHidden {
    height: 8vh;
    width: 20%;
    a {
      margin-top: 1rem;
      border-radius: 65px;
      width: 100%;
      h1 {
        height: 80%;
        line-height: 6.4vh;
      }
    }
  }
  .profileDiv {
    left: 15vw;
    top: 5vh;
    width: 70vw;
    height: 90vh;
    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .actions {
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .info {
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
  .profileDiv {
    display: flex;
    flex-direction: column;
    .image {
      height: 40vh;
      width: 100vw;
      grid-area: img;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 0;
      }
    }
    .actions {
      height: 40vh;
      gap: 0.5rem;
      border-radius: 0;
      h1 {
        text-transform: uppercase;
      }
    }
    .info {
      grid-area: info;
      border-radius: 0 50px 50px 0;
      display: flex;
      flex-direction: column;
      overflow-y: visible;

      gap: 1rem;
    }
  }
}
